<table style="WIDTH: 414px" cellspacing="0" cellpadding="0" border="0" class="ng-scope">
    <tbody> 
    <tr>
      <td width="300" style="FONT-SIZE: 10pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif;line-height:14pt;" valign="bottom">	
          <strong><span style="FONT-SIZE: 18pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif; COLOR: #1aed6f" class="ng-binding">Mst. Yeasmin Khatun</span></strong><br>
          <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="FONT-SIZE: 14pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif; COLOR: #c2890e" class="ng-binding ng-scope">Web Designer</span><!-- end ngIf: showField('title') -->	  
      </td>
      <td valign="bottom" align="right" width="160">	
          <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="https://www.facebook.com/MyCompany" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/fb.png" alt="facebook icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/fb.png"></a></span><!-- end ngIf: showField('facebookURL') -->
          <!-- ngIf: showField('twitterURL') --><span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/MyCompany404" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/tt.png" alt="twitter icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/tt.png"></a></span><!-- end ngIf: showField('twitterURL') -->
          <!-- ngIf: showField('youtubeURL') --><span ng-if="showField('youtubeURL')" class="ng-scope"><a href="https://www.youtube.com/user/MyCompanyChannel" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/yt.png" alt="youtube icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/yt.png"></a></span><!-- end ngIf: showField('youtubeURL') -->
          <!-- ngIf: showField('linkedinURL') --><span ng-if="showField('linkedinURL')" class="ng-scope"><a href="https://www.linkedin.com/company/mycompany404" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/ln.png" alt="linkedin icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/ln.png"></a></span><!-- end ngIf: showField('linkedinURL') -->
          <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope"><a href="https://www.instagram.com/mycompany404/" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/it.png" alt="instagram icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/it.png"></a></span><!-- end ngIf: showField('instagramURL') -->
          <!-- ngIf: showField('pinterestURL') --><span ng-if="showField('pinterestURL')" class="ng-scope"><a href="https://pinterest.com/mycompany404/" target="_blank" rel="noopener"><img border="0" width="19" height="19" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/pt.png" alt="pinterest icon" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/pt.png"></a></span><!-- end ngIf: showField('pinterestURL') -->
      </td>	
      </tr>
      
    <!-- ngIf: showField('banner') --><tr ng-if="showField('banner')" class="ng-scope">
      <td colspan="2" valign="top" style="padding-bottom:20px; padding-top:20px;">	
          <!-- ngIf: showField('bannerURL') -->
          <!-- ngIf: !showField('bannerURL') --><img ng-if="!showField('bannerURL')" border="0" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/banner.png" alt="Banner" width="414" style="max-width:414px; height:auto; border:0;" class="ng-scope" src="https://www.mail-signatures.com/signature-generator/img/templates/book-a-call/banner.png"><!-- end ngIf: !showField('bannerURL') -->
      </td>
      </tr><!-- end ngIf: showField('banner') -->
  
    <tr>
      <td style="FONT-SIZE: 9pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif;" valign="top" colspan="2">
          
          <table style="WIDTH: 414px" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                  <td style="padding-right:30px" valign="top">
                      <!-- ngIf: showField('logo') -->					
                  </td>
                  <td width="30" valign="top" style="FONT-SIZE: 9pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif; line-height:11pt">
                  
                      <!-- ngIf: showField('phone') -->
                      <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="color:#200ee7;" class="ng-scope"><strong style="color:#200ee7; display:table-cell; width:30px;">m:</strong><br></span><!-- end ngIf: showField('mobile') -->
                      <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="color:#200ee7;" class="ng-scope"><strong style="color:#200ee7; display:table-cell; width:30px;">e:</strong><br></span><!-- end ngIf: showField('email') -->
                      
                      <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" style="color:#200ee7;" class="ng-scope">
                          <strong style="color:#200ee7; display:table-cell; width:30px;">a: </strong>
                      </span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
                      
                  </td>
                  <td valign="top" style="FONT-SIZE: 9pt; FONT-FAMILY: Comic Sans MS, cursive, sans-serif; line-height:11pt">
                      
                      <!-- ngIf: showField('phone') -->
                      <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="color:#200ee7;" class="ng-binding ng-scope">01700-000000<br></span><!-- end ngIf: showField('mobile') -->
                                          <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="color:#200ee7;" class="ng-binding ng-scope">Yeasminkhatun432@gmail.com<br></span><!-- end ngIf: showField('email') -->
                      
                      <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" style="color:#200ee7;" class="ng-scope">
                                              <!-- ngIf: showField('company') --><span ng-if="showField('company')" class="ng-binding ng-scope">ICT<!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-scope">, </span><!-- end ngIf: showField('address1') --></span><!-- end ngIf: showField('company') --><!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-binding ng-scope">Natore sador, Natore<!-- ngIf: isAnyFieldEntered('address2') --><span ng-if="isAnyFieldEntered('address2')" class="ng-scope">, </span><!-- end ngIf: isAnyFieldEntered('address2') --></span><!-- end ngIf: showField('address1') --><!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-binding ng-scope">6400, Bangladesh</span><!-- end ngIf: showField('address2') -->			
                      </span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
  
                      <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope">
                          <br><a href="http://Yeasminkhatun.tk" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#c2890e; font-family:Comic Sans MS, cursive, sans-serif;" class="ng-binding">Yeasminkhatun.tk</strong></a>		
                      </span><!-- end ngIf: showField('website') -->
          
                  </td>
              </tr>
          </tbody></table>
  
      </td></tr>
  
      </tbody></table>